# 1. MAVEN
target/
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz

# 2. GRADLE
.gradle
build/
gradlew
gradlew.bat
gradle/

# 3. IDE - INTELLIJ
.idea/
*.iml
*.iws
*.ipr
out/

# 4. System
.DS_Store
Thumbs.db
*.log

/test/
